<%- include("../partials/header.ejs") %>
    <%- include("../partials/nav.ejs") %>


        <h1> Edit Page</h1>





        <form action="/user/session/<%= session._id %>?_method=PUT" method="POST" id="editForm">
            <% session.exercises.forEach((exercise, index)=> { %>
                <div class="exerciseEdit">
                    <input type="text" name="name" value="<%= exercise.name %>">


                    <input type="number"name="sets" value="<%= exercise.sets %>">


                    <input type="number" name="reps" value="<%= exercise.reps %>">


                    <input type="number" name="load" value="<%= exercise.load %>">
                </div>
                <% }) %>
        </form>


        <button type="submit" form="editForm">
            <h3>Save Workout</h3>
        </button>





        </body>

        </html>



        <!-- <button type="button" id="addSet" onclick="newExerciseEdit()">
                    <h3>New Exercise</h3>
                </button>
                 -->